/* Entry */
.entry__edit {
	float: right;
	margin: 0 0 0 0.5rem;
	z-index: 1;
}
.entry__affects::before {
	content: " \A affects: ";
	white-space: pre-wrap;
}
.entry__affects + .entry__affects::before {
	content: ", ";
}

/* Temporary */
.text--prose ol:last-of-type li::before {
	display: none;
}
.text--prose ol:last-of-type .any__note {
	float: right;
	margin: 0 0 0 0.5rem;
}
.text--prose {
	background-color: transparent;
}

/* Issues */
.issue__vote {
	float: right;
	margin: 0 0 0.25rem 0.25rem;
}
.issue__completed-label {
	box-shadow: 0 0 0.5rem 0.5rem hsl(var(--background--secondary));
}