.patreon__bg {
	background: hsla(var(--brand-color), 0.4);
	color: white;
	text-align: center;
}
.patreon__diagonals::before {
	--slash-direction: to bottom left;
	--slash-bottom: auto;
	--slash-top: 0;
}
.patreon__diagonals::after {
	--slash-direction: to top right;
	--slash-bottom: 0;
	--slash-top: auto;
}
.patreon__diagonals::before,
.patreon__diagonals::after {
	background-image: linear-gradient(var(--slash-direction), hsla(var(--background--secondary), 1) 50%, hsla(var(--background--secondary), 0) calc(50% + 1px));
	background-position: left var(--negative-gutter) var(--slash-position) -1px;
	background-repeat: no-repeat;
	background-size: calc(100vw + var(--gutter) * 2) 3rem;
	bottom: var(--slash-bottom);
	content: "";
	display: block;
	height: 3rem;
	left: var(--negative-gutter);
	position: absolute;
	right: var(--negative-gutter);
	top: var(--slash-top);
	z-index: 2;
}
.patreon__container {
	flex-direction: row;
}
.patreon__container a:hover {
	color: hsl(146,65%,25%);
}
.patreon__container .a--inherit:hover {
	background-image: linear-gradient(hsl(146,65%,25%),hsl(146,65%,25%));
}

.patreon__text {
	padding-bottom: 6rem;
	padding-top: 6rem;
}
.patreon__title {
	background: hsl(var(--brand-color));
	display: inline-block;
	color: white;
	font-size: 1.25rem;
	margin: 0 auto 3rem auto;
	padding: 0 1rem;
	transform: rotate(-3deg);
}
@media(min-width:1200px) {
	.patreon__title {
		font-size: 1.5rem;
	}
}
.patreon__title .any--weaken {
	color: hsl(0 0% 80%);
}
.patreon__p {
	color: hsl(var(--accent));
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 3rem;
}
@media(min-width:1200px) {
	.patreon__p {
		font-size: 1.25rem;
	}
}
.patreon__list {
	color: white;
	display: flex;
	flex-wrap: wrap;
	font-size: 1rem;
	list-style-type: none;
	margin-bottom: -1rem;
}
@media(min-width:1200px) {
	.patreon__list {
		font-size: 1.25rem;
	}
}
.patreon__list li {
	border: none;
	flex-grow: 1;
	margin: 0 0 2rem 0 !important;
	padding: 0 1rem !important;
	width: 33.3%;
}
.patreon__badge {
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px;
	padding: 0 5px;
}
.patreon__button {
	background: #f96854;
	color: white !important;
	display: inline-block;
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1;
	margin: 3rem auto 0 auto;
	padding: 1rem;
	transform: rotate(-0deg);
}
@media(min-width:1200px) {
	.patreon__button {
		font-size: 1.5rem;
	}
}
.patreon__button:hover {
	background: hsl(var(--attention--secondary));
}

.patreon__wall {
	align-self: stretch;
	min-height: 500px;
	-webkit-mask-image: linear-gradient(transparent, black 3rem, black calc(100% - 3rem), transparent);
	mask-image: linear-gradient(transparent, black 3rem, black calc(100% - 3rem), transparent);
	order: 1;
}
.patreon__scroll {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(3, minmax(0,1fr));
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(0%);
}
@media screen and (prefers-reduced-motion: no-preference) {
	.patreon__scroll {
		animation: avatarScroll 30s linear infinite;
	}
}
.patreon__scroll:hover {
	animation-play-state: paused;
}
@keyframes avatarScroll {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-50%);
	}
}
.patreon__patron {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.patreon__patron:not(:hover) {
	color: hsl(var(--accent));
}
.patreon__avatar {
	height: auto;
	width: 100%;
}
.patreon__username {
	display: block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Sizing and order */
@media (max-width:1399.9px) {
	.patreon__spacing .patreon__empty {
		height: 0;
		width: 0;
	}
}
@media(max-width:999.99px) {
	.patreon__container {
		flex-direction: column;
	}
	.patreon__text {
		margin-top: -1rem;
		padding-top: 0;
		width: 100% !important;
		z-index: 2;
	}
	.patreon__wall {
		margin: 0 auto;
		max-width: 100%;
		order: -1;
		width: 600px !important;
	}
}