.images__item {
	white-space: nowrap;
	width: auto;
}
.images__item:nth-of-type(3) {
	white-space: auto;
	width: 100%;
}
.images__link {
	background-position: center;
	background-size: cover;
	display: block;
	padding: 2rem;
	text-align: center;
}
.images__link:hover {
	opacity: 0.75;
}
@media(min-width: 800px) {
	.vip__sidebar {
		order: 2;
	}
}