/**
	* ========================================================
	* COLORS: DARK
	* ========================================================
**/
:root {
	--accent:              hsla(344, 37%, 50%, 1);
	
	--attention--faint:    hsla(154, 32%, 50%, 1);
	--attention:           hsla(154, 32%, 45%, 1);
	
	--interactive--faint:  hsla(227, 12%, 55%, 1);
	--interactive:         hsla(227, 12%, 45%, 1);
	
	--text:                hsla(0, 5%, 70%, 1);
	--text--faint:         hsla(0, 0%, 40%, 1);
	
	--background--faint:   hsla(240, 9%, 7%, 1);
	--background:          hsla(240, 9%, 13%, 1);
	--background--bold:    hsla(240, 9%, 23%, 1);
	--background--alt:     hsla(196, 27%, 10%, 1);
	
	--rgb__background:        30, 30, 36;
	--rgb__background--faint: 16, 16, 19;
	--rgb__background--bold:  65, 65, 78;
}