/**
	* ========================================================
	* GRID
	* ========================================================
**/
.col {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 2vw;
}
.col > * {
	width: 100%;
}
.col .col {
	padding-left: 0;
	padding-right: 0;
}
@media(min-width: 800px) {
	.col {
		flex-direction: row;
	}
	.c1 > * {
		width: calc(100%);
	}
	.c2 > * {
		width: calc((100% - (3rem * 1)) * (1/2));
	}
	.c3 > * {
		width: calc((100% - (3rem * 2)) * (1/3));
	}
	.c4 > * {
		width: calc((100% - (3rem * 3)) * (1/4));
	}
	.c3-AAB > :nth-child(odd), .c3-ABB > :nth-child(even) {
		width: calc((100% - (3rem * 1)) * (2/3));
	}
	.c3-AAB > :nth-child(even), .c3-ABB > :nth-child(odd) {
		width: calc((100% - (3rem * 1)) * (1/3));
	}
	.c4-AAAB > :nth-child(odd), .c4-ABBB > :nth-child(even) {
		/*flex-grow: 1;*/
		width: calc((100% - (3rem * 1)) * (3/4));
	}
	.c4-AAAB > :nth-child(even), .c4-ABBB > :nth-child(odd) {
		/*max-width: 200px;*/
		width: calc((100% - (3rem * 1)) * (1/4));
	}
	.c4-ABBC > :nth-child(odd) {
		max-width: 200px;
		width: calc((100% - (3rem * 1)) * (1/4));
	}
	.c4-ABBC > :nth-child(even) {
		flex-grow: 1;
		margin-left: 3rem;
		margin-right: 3rem;
		width: calc((100% * (2 / 4)) - (3rem * 2));
	}
}

/**
	* ========================================================
	* RESETS
	* ========================================================
	*/
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		position: relative;
	}
	img[src=""] {
		display: none;
	}

/**
	* =======================================================
	* GENERAL HELPER CLASSES
	* =======================================================
	*/
	body:not(.body--signed-in)  .any--signed-in-only,
	body:not(.body--signed-out) .any--signed-out-only {
		display: none;
	}
	.flex, .any--flex {
		display: flex;
	}
	.any--flex-grow {
		flex-grow: 1;
		max-width: 100%;
	}
	.any--flex-space-between {
		justify-content: space-between;
	}
	.any--float-right {
		float: right;
	}
	.any--note {
		vertical-align: text-top;
	}
	.tag, .any__tag, .any__note, .any__code, code {
		background: var(--background--bold);
		border-radius: 3px;
		display: inline-block;
		font-family: monospace, "brackets", メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", serif;
		font-size: 0.9em;
		line-height: 1;
		padding: 0.25rem;
		vertical-align: text-top;
	}
	.any__tag, .tag {
		color: var(--text--faint);
		cursor: pointer;
		user-select: none;
	}
	.tag:hover, .any__tag:hover {
		color: var(--text);
	}
	.tag--selected, .any__tag--selected, :checked + .tag, :checked + .any__tag {
		background: var(--interactive--faint);
		color: var(--background);
	}
	.any__tag--selected:hover {
		color: var(--background--faint);
	}
	.any--hidden {
		display: none !important;
	}
	.any--margin {
		margin-bottom: 3rem;
	}
	.any--align-center {
		text-align: center;
	}
	.any--align-right {
		text-align: right;
	}
	.any--no-wrap {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.any--fade-in {
		animation: fade-in 0.2s backwards;
	}
	.any--fade-out {
		animation: fade-out 0.2s forwards;
	}
	.any--pulse {
		animation: pulse 0.2s 1;
	}
	@keyframes pulse {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes fade-out {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	.any__obscure {
		background-position: center 25%;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.any__obscure::before {
		background-image: linear-gradient(to bottom right, var(--background) 1px, transparent 0);
		background-size: 3px 3px;
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	.any__obscure--fade::before {
		background-image:
			linear-gradient(to bottom, rgba(var(--rgb__background--faint), 0.75), var(--background--faint)),
			linear-gradient(to bottom right, var(--background) 1px, transparent 0);
		background-size: 100% 100%, 3px 3px;
	}
	.any__obscure--faint::before {
		background-color: rgba(var(--rgb__background--faint), 0.75);
	}
	.any__partial, .any__partial--horizontal {
		overflow: hidden;
	}
	.any__partial::after, .any__partial--horizontal::after {
		background-image: linear-gradient(to top, var(--background--faint) 1rem, transparent 50%);
		bottom: 0;
		content: "";
		display: block;
		left: -1px;
		pointer-events: none;
		position: absolute;
		right: -1px;
		top: 0;
	}
	.any__partial {
		max-height: 10rem;
	}
	.any__partial--horizontal {
		max-width: 100%;
		white-space: nowrap;
	}
	.any__partial--horizontal::after {
		background-image: linear-gradient(to left, var(--background--faint) 1rem, transparent 50%);
	}
	.any__partial-input:checked ~ .any__partial-label {
		display: none;
	}
	.any__partial-input:checked ~ .any__partial,
	.any__partial-input:checked ~ .any__partial--horizontal {
		overflow: visible;
	}
	.any__partial-input:checked ~ .any__partial {
		max-height: none;
	}
	.any__partial-input:checked ~ .any__partial--horizontal {
		max-width: none;
		white-space: normal;
	}
	.any__partial-input:checked ~ .any__partial::after,
	.any__partial-input:checked ~ .any__partial--horizontal::after {
		display: none;
	}



/**
	* ========================================================
	* SYMBOLS
	* ========================================================
	*/
	.symbol__container {
		height: 0;
		overflow: hidden;
		position: absolute;
		width: 0;
	}
	[class*="symbol__"]::before,
	.artist:not(.artist--no-symbol)::before,
	.company::before, .text a[href^="/labels/"]:not([href$="/labels/"])::before,
	.loading::before,
	.user::before, .text a[href^="/user/"]:not([href$="/user/"])::before {
		background: currentColor;
		content: "";
		display: inline-block;
		height: 1.5ex;
		margin-right: 3px;
		opacity: 0.5;
		vertical-align: middle;
		vertical-align: baseline;
		width: 1.5ex;
	}
	.symbol--right {
		align-items: center;
		display: inline-flex;
	}
	.symbol--right::before {
		margin-left: 3px;
		order: 2;
	}
	.symbol--standalone::before {
		margin-right: 0;
		opacity: 1;
	}
	.symbol__success::before {
		color: var(--attention--faint);
		opacity: 1;
	}
	.symbol__loading::before, .loading::before, [data-status="loading"]::before {
		animation: rotation 1s infinite linear;
		margin: 0;
		opacity: 1;
	}
	@keyframes rotation {
		from {
			transform: rotate(0);
		}
		to {
			transform: rotate(359deg);
		}
	}



/**
	* ========================================================
	* FONTS
	* ========================================================
	*/
	@font-face {
		font-family: "brackets";
		src: url("/style/font-brackets.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
		unicode-range: U+02D0, U+300C-300D, U+3010-3011, U+300E-300F, U+3014-3015;
	}
	html {
		font-size: 16px;
	}
	body {
		color: var(--text);
		font-family: "brackets", tahoma, メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
		font-size: 1rem;
		line-height: normal;
	}
	.any--jp, .any--ja {
		font-size: 0.9em;
	}
	.any--weaken, .any--weaken-color {
		color: var(--text--faint);
	}
	.any--weaken, .any--weaken-size {
		font-size: 0.8em;
		font-weight: normal;
	}
	a:hover .any--weaken {
		color: inherit;
	}



/**
	* ========================================================
	* LINKS
	* ========================================================
	*/
	a {
		border-color: var(--interactive--faint);
		color: var(--interactive--faint);
		text-decoration: none;
	}
	a:hover {
		border-color: var(--interactive);
		color: var(--interactive);
		cursor: pointer;
	}
	a:hover img {
		opacity: 0.75;
	}
	.a--inherit {
		background-image: linear-gradient(var(--background--bold), var(--background--bold));
		background-position: bottom;
		background-repeat: repeat-x;
		background-size: 1px 1px;
		border-color: inherit;
		color: inherit;
	}
	.a--inherit:hover {
		background-image: linear-gradient(var(--interactive), var(--interactive));
		border-color: var(--interactive);
		color: var(--interactive);
	}
	.a--alt:hover {
		border-color: var(--text);
		color: var(--text);
	}
	.a--outlined {
		background-image: none;
		border-color: currentColor;
		border-style: solid;
		border-width: 2px;
		padding-left: 3px;
		padding-right: 3px;
	}
	.a--outlined:hover {
		background-image: none;
	}
	.a--padded {
		background-image: none;
		display: inline-block;
		padding: 0.5rem;
	}
	.a--padded:hover {
		background-image: none;
	}



/**
	* ========================================================
	* HEADERS
	* ========================================================
	*/
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-weight: bold;
		line-height: normal;
		margin: 0;
		padding: 0;
	}
	h1, .h1 {
		color: var(--attention--faint);
		font-size: 1.75rem;
		margin-bottom: 3rem;
	}
	h2, .h2 {
		color: var(--text);
		font-size: 1.25rem;
		padding: 1rem;
		padding-top: 0;
	}
	h2::before, .h2::before {
		background: var(--attention--faint);
		background-clip: content-box;
		bottom: 1rem;
		content: "";
		display: inline-block;
		left: 0;
		position: absolute;
		top: 0;
		width: 3px;
	}
	h3, .h3 {
		font-size: 1rem;
		font-weight: normal;
		padding: 1rem;
		padding-top: 0;
	}
	.text h2, .text .h2, .text h3, .text .h3 {
		padding-left: 0;
		padding-right: 0;
	}
	.text h3::before, .text .h3::before, .text h2::before, .text .h2::before {
		display: none;
	}
	h3::before, .h3::before {
		background: var(--background);
		background-clip: content-box;
		bottom: 1rem;
		content: "";
		display: inline-block;
		left: 0;
		position: absolute;
		top: 0;
		width: 1px;
	}
	.h3--compact {
		padding: 0.5rem;
		padding-top: 0;
	}
	.h3--compact::before {
		bottom: 0.5rem;
	}
	h4, .h4 {
		color: var(--attention--faint);
		font-family: monospace, "brackets", メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", serif;
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: normal;
	}
	.h5, h5, .input__label {
		color: var(--text--faint);
		font-family: monospace, "brackets", メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", serif;
		font-size: 0.8rem;
		letter-spacing: 1px;
		text-transform: uppercase;
	}



/**
	* ========================================================
	* LANGUAGE SELECTOR
	* ========================================================
	*/
	#language-en:checked ~ .underhead__wrapper [for="language-en"],
	#language-ja:checked ~ .underhead__wrapper [for="language-ja"] {
		color: var(--text);
	}
	#language-en:checked ~ .underhead__wrapper [for="language-en"]::before,
	#language-ja:checked ~ .underhead__wrapper [for="language-ja"]::before {
		clip-path: url(#symbol__checked);
	}

	#language-ja:checked ~ * .any--en {
		display: none;
	}
	#language-ja:checked ~ * .any--ja {
		color: inherit;
		display: initial !important;
		font-size: inherit;
	}



/**
	* ========================================================
	* LAYOUT - HEAD
	* ========================================================
	*/
	body {
		background-color: var(--background--faint);
	}
	.head {
		background:
			linear-gradient(to top, var(--background--bold) 1px, transparent 0),
			linear-gradient(var(--accent) 2px, var(--background) 0);
		color: var(--accent);
		flex-direction: row;
		left: 0;
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 100;
	}
	.head__container {
		display: flex;
		justify-content: space-between;
	}
	.head, .head * {
		align-items: center;
	}
	a.head__item {
		background-position: 0 1.1rem;
		text-transform: uppercase;
		font-family: monospace, "brackets", メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", serif;
	}
	.head__item .any--weaken {
		font-size: 0.6em;
	}
	.head__item + .head__item {
		margin-left: 0.5rem;
		text-align: center;
	}
	.head__container {
		display: grid;
		grid-template-columns: [links] 1fr [additional] auto;
	}
	.head__links {
		flex-wrap: wrap;
		grid-column: links;
		grid-row: 1;
	}
	.head__cage {
		fill: none;
		height: 2rem;
		object-fit: contain;
		opacity: 1;
		width: 1.28rem;
	}
	.head__cage:hover {
		stroke: var(--interactive);
	}
	#language-ja:checked ~ .head .any--ja {
		font-size: 0.7rem;
		font-weight: bold;
	}
	.head__search {
		text-indent: 1.25rem;
		z-index: 201;
	}
	.head__search, .head__symbol {
		display: none;
		grid-column: search;
		grid-row: 1;
	}
	.head__symbol {
		pointer-events: none;
		margin-left: 0.5rem;
		z-index: 202;
	}
	.head__vip {
		margin-left: auto;
	}
	.head__right {
		display: flex;
		grid-column: additional;
		grid-row: 1;
	}
	.head__button {
		box-shadow: -0.5rem 0 0 0 var(--background), -0.5rem -2px 0 0 var(--background), -0.5rem 2px 0 0 var(--background);
		display: none;
		margin-left: auto;
		pointer-events: auto;
		z-index: 203;
	}
	.head__user-link {
		display: none;
	}
	.head__avatar {
		border-radius: 50%;
		height: 2rem;
		width: 2rem;
	}
	.head__search:active, .head__search:focus,
	.head__search:active + .head__symbol, .head__search:focus + .head__symbol {
		grid-column: 1 / -1;
	}
	.head__search:active ~ .head__right .head__button,
	.head__search:focus ~ .head__right .head__button,
	.head__button:hover,
	.head__button:active,
	.head__button:focus {
		display: initial;
	}
	@media(min-width: 800px) {
		.head__container {
			grid-template-columns: [links] 1fr [search] 1fr [additional] 1fr;
		}
		.head__nav:last-of-type {
			display: none;
		}
		.head__search, .head__symbol, .head__user-link {
			display: initial;
			display: initial;
		}
		/*#language-ja:checked ~ .head .any--ja {
			font-size: inherit;
		}*/
	}



/**
	* ========================================================
	* LAYOUT - UNDER HEAD
	* ========================================================
	*/
	.underhead__wrapper {
		background: var(--background);
		border-bottom: 1px solid var(--background--bold);
		margin-top: 2rem;
		z-index: 1;
	}
	.underhead__wrapper .input__checkbox-label {
		display: inline-block;
		margin: 0;
	}
	.underhead__container {
		align-items: center;
		flex-wrap: wrap;
		margin-top: 0;
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
	}
	.underhead__account {
		margin: 0;
		margin-left: auto;
	}
	.underhead__sign-in {
		align-items: center;
		margin-left: 0;
	}
	.underhead__sign-in button {
		margin-left: 0.5rem;
	}
	@media(max-width: 599.9px) {
		.underhead__language, .underhead__account, .underhead__sign-in {
			width: 100%;
		}
		.underhead__sign-in {
			margin-left: -0.5rem;
			margin-top: 0;
		}
	}


/**
	* ========================================================
	* LAYOUT - BODY
	* ========================================================
	*/
	.content__container {
		padding-bottom: 3rem;
	}
	.content__background {
		background-position: center;
		background-size: cover;
		height: 300px;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
	}



/**
	* ========================================================
	* LAYOUT - SUBNAV
	* ========================================================
	*/
	.subhead__container {
		margin-top: -3rem;
	}
	.subhead__inner {
		align-items: flex-start;
		display: flex !important;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 2rem;
		top: -2px;
	}
	.breadcrumb__container {
		flex-grow: 1000; /* arbitrary large number */
		flex-shrink: 0;
		margin-bottom: 1rem;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		list-style-type: none;
	}
	.subnav__inner {
		border: 1px solid var(--attention--faint);
		border-radius: 3px;
		flex-grow: 1;
		flex-shrink: 0;
		max-width: 100%;
		width: auto;
	}
	.breadcrumb__item {
		border: none;
		display: inline;
		margin: 0;
		padding: 0;
		text-indent: none;
	}
	.breadcrumb__item::before {
		padding-right: 0;
	}
	.breadcrumb__item:first-of-type::before {
		content: none;
	}
	.breadcrumb__item:first-of-type a {
		background: var(--attention--faint);
		border-radius: 3px;
	}
	.breadcrumb__item:first-of-type a:not(:hover) {
		color: var(--background--faint);
	}
	.breadcrumb__item:nth-of-type(n+2) a {
		padding-left: 0;
		padding-right: 0;
	}
	.subnav {
		color: var(--attention--faint);
		width: auto;
	}
	.subnav a:not(:hover) {
		color: var(--attention--faint);
	}



/**
	* ========================================================
	* TEXT CONTAINERS
	* ========================================================
	*/
	.text {
		background-color: var(--background);
		border: 1px solid var(--background);
		border-radius: 3px;
		line-height: 1.5;
		margin: 0;
		margin-bottom: 3rem;
		padding: 1rem;
		word-break: break-word;
	}
	.text--outlined {
		background: transparent;
	}
	.text--error {
		border-color: var(--accent);
	}
	.text--error.symbol__error::before {
		color: var(--accent);
	}
	.text--notice {
		border-color: var(--interactive--faint);
	}