/**
	* ========================================================
	* COLORS: DEFAULT
	* ========================================================
**/
:root {
	--accent:              hsla(340, 73%, 25%, 1);
	
	--attention--faint:    hsla(146, 65%, 25%, 1);
	--attention:           hsla(147, 50%, 47%, 1);
	
	--interactive--faint:  hsla(211, 100%, 22%, 1);
	--interactive:         hsla(207, 24%, 56%, 1);
	
	--text:                hsla(0, 5%, 25%, 1);
	--text--faint:         hsla(0, 0%, 50%, 1);
	
	--background--faint:   hsla(20, 0%, 90%, 1);
	--background:          hsla(18, 0%, 82%, 1);
	--background--bold:    hsla(18, 0%, 74%, 1);
	--background--alt:     hsla(146, 10%, 85%, 1);
	
	--rgb__background:        209, 209, 209;
	--rgb__background--faint: 227, 232, 232;
	--rgb__background--bold:  189, 189, 189;
}