/* Layout */
.artist__left {
	max-width: 100% !important;
}
@media(min-width:800px) {
	.artist__left {
		flex-grow: 1;
		margin-right: var(--gutter);
	}
	.artist__right {
		width: 200px;
	}
	.artist__title {
		display: none;
	}
}

@media(max-width: 799.9px) {
	.artist__details--second {
		display: none;
	}
}
@media(min-width: 800px) {
	.artist__details--first {
		display: none;
	}
}
.artist__description:not(:empty) {
	margin-top: 1rem;
}
.artist__other {
	flex-direction: row;
	margin-bottom: 1rem;
}
.artist__other a {
	display: inline-block;
}
.artist__other div {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
}
.artist__next {
	text-align: right;
}
.artist__rand {
	text-align: center;
}

.lineup__container {
	background-image: radial-gradient(circle at bottom center,hsl(var(--background--bold)) 1px,transparent 0);
	background-clip: content-box;
	background-position: top left;
	background-repeat: repeat;
	background-size: 3px 2rem;
	line-height: 0;
}
.lineup__container::before {
	content: "";
	display: block;
	height: 1px;
	margin-bottom: -2px;
	width: 100%;
}
.lineup__container {
	line-height: 2rem;
}
.lineup__band {
	line-height: inherit;
	vertical-align: bottom;
}
.lineup__arrow {
	color: transparent;
	display: inline-block;
	font-size: 0;
	vertical-align: bottom;
}
.lineup__arrow::before {
	color: hsl(var(--attention--secondary));
	font-size: initial;
	vertical-align: middle;
}
.lineup__container .lineup__session--hovered::before,
.lineup__container .lineup__session--clicked::before{
	background: hsl(var(--attention--secondary));
	color: hsl(var(--background));
}
.lineup__sessions {
	line-height: 1.5;
}
.lineup__sessions session {
	border: none;
	border-radius: 2px;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	margin-left: -2px;
	padding: 1px 2px;
}
.lineup__sessions .any__note {
	padding: 2px;
	vertical-align: text-bottom;
}
.lineup__sessions session a {
	border-color: transparent !important;
	border-style: solid;
	border-width: 4px 0;
}

.lineup__sessions .lineup__session--hovered,
.lineup__sessions .lineup__session--clicked {
	box-shadow: 0 0 0 1px hsl(var(--attention--secondary));
}
.lineup__container session::before {
	background: hsl(var(--background--bold));
	border-radius: 2px;
	content: "※";
	display: inline-block;
	font-size: 0.9rem;
	line-height: 1;
	padding: 0.25rem;
	vertical-align: text-top;
}
.lineup__compact {
	float: right;
	margin: 0 0 0.25rem 0.25rem;
	z-index: 2;
}
.lineup--compact:checked ~ details .lineup__wrapper .lineup__compact {
	color: hsl(var(--text));
}
.lineup--compact:checked ~ details .lineup__wrapper .lineup__compact::before {
	-moz-clip-path:    url(#symbol__checkbox--checked);
	-webkit-clip-path: url(#symbol__checkbox--checked);
	clip-path:         url(#symbol__checkbox--checked);
	opacity: 1;
}
.lineup--compact:checked ~ details .lineup__wrapper .lineup--duplicate {
	display: inline-block;
	max-width: 2ch;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: none;
}
.lineup--compact:checked ~ details .lineup__wrapper .any__note {
	display: inline-block;
	max-width: 2ch;
	overflow: hidden;
	white-space: nowrap;
	display: none;
}
.lineup--compact:checked ~ details .lineup__wrapper .any__note::before {
	content: "… ";
}
.lineup--compact:checked ~ details .lineup__wrapper .lineup__band > .any--en,
.lineup--compact:checked ~ details .lineup__wrapper session > .any--en,
.lineup--compact:checked ~ details .lineup__wrapper .lineup--duplicate + .lineup--duplicate {
	display: none;
}


.history__container {
	counter-reset: lineup;
}
.history__list:empty::before {
	content: "No items to display.";
}
.history__item {
	flex-wrap: wrap;
}
.history__item p {
	line-height: inherit;
}
.history__item.new-year {
	border-top-color: hsl(var(--text--secondary));
}
.history__item.new-year::before {
	content: attr(data-year);
	display: block;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: normal;
	padding-bottom: 1rem;
	width: 100%;
}
.history__item.dupe-date .history__date {
	color: transparent;
}
.history__date {
	margin-right: 1rem;
	white-space: nowrap;
}
.history__content {
	flex: 1;
}
.history__content.lineup {
	counter-increment: lineup;
}
.history__content.lineup,
.history__content.setlist,
.history__content.note,
.history__content.start,
.history__content.end {
	border: 3px solid hsl(var(--background--bold));
	border-radius: 3px;
	padding: 0.5rem;
}
.history__content.lineup::before,
.history__content.setlist::before,
.history__content.note::before {
	color: hsl(var(--text--secondary));
	display: block;
	font-family: var(--font--secondary);
	font-size: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
}
.history__content.lineup::before {
	content: "Lineup #" counter(lineup);
}
.history__content.setlist::before {
	content: "Setlist";
}
.history__content.note::before {
	content: "Note";
}
.history__content.start,
.history__content.end {
	border-color: currentcolor;
}
.history__content.start {
	color: hsl(var(--attention--secondary));
}
.history__content.end {
	color: hsl(var(--accent));
}
.history__content.end p:last-of-type::after {
	content: "...";
}

/* Members */
.member__history {
	flex-wrap: wrap;
	margin-left: -1rem;
	margin-top: -1rem;
}
.lineup__container {
	flex: 1;
	flex-basis: calc(100% - 150px - 2rem);
}
.lineup__container, .lineup__sessions {
	margin-top: 1rem;
	margin-left: 1rem;
}
.lineup__sessions {
	flex-grow: 1;
	flex-basis: 150px;
	min-width: 100%;
}
@media(min-width: 800px) {
	.lineup__sessions {
		min-width: auto;
	}
}
.lineup__session + .lineup__session::before {
	content: ",  ";
}

/* Labels */
.label__container {
	text-align: center;
}
.label__comma {
	display: block;
	margin: 1rem;
}
.label__company {
	text-align: center;
}
.label__line {
}
.label__next {
	align-self: center;
	color: hsl(var(--attention--secondary));
	margin-left: 1rem;
	margin-right: 1rem;
}
.label__period {
	align-items: center;
	border: 1px solid hsl(var(--background));
	border-radius: 3px;
	padding: 0.5rem;
}

/* History */
.history__container {
	--filters-margin: 2.5rem;
}
.history__filters {
	height: 0;
	margin-bottom: var(--filters-margin);
	pointer-events: none;
	position: sticky;
	text-align: right;
	top: 4rem;
	z-index: 1;
}
.obscure__input:checked + .history__container .history__filters {
	top: 0;
}
.history__filters[open] {
	background: hsl(var(--background--secondary));
	box-sizing: content-box;
	height: auto;
	margin: -1rem -1rem calc( var(--filters-margin) + 1rem ) -1rem;
	padding: 1rem;
	pointer-events: initial;
	top: 3rem;
}
.history__filters + .history__list {
	margin-top: calc( var(--filters-margin) * -1 );
}
.filters__control {
	background: hsl(var(--background));
	box-shadow: 0 0 0 0.5rem hsl(var(--background)), 0 -0.5rem 0 0.5rem hsl(var(--background));
	display: inline-block;
	pointer-events: initial;
	z-index: 1;
}
.history__filters[open] .filters__control {
	background: none;
	bottom: auto;
	box-shadow: none;
	position:absolute;
	right:1rem;
	top: 1rem;
}
.filters__control::-webkit-details-marker,
.filters__control::marker {
	content: "";
	display: none;
}
.filters__open,
.history__filters[open] .filters__close {
	display: inline-block;
}
.filters__close,
.history__filters[open] .filters__open {
	display: none;
}
.filters__sort::after {
	content: " ↓";
}
.filters__sort.desc::after {
	content: " ↑";
}