@media(max-width: 799.9px) {
	.artist__details--second {
		display: none;
	}
	.bio__item {
		display: block;
	}
	.bio__date {
		margin-bottom: 0.5rem;
	}
}
@media(min-width: 800px) {
	.artist__details--first {
		display: none;
	}
	.bio__item {
		display: flex;
	}
	.bio__date--multiple {
		color: transparent;
	}
}
.artist__description:not(:empty) {
	margin-top: 1rem;
}
.artist__other {
	flex-direction: row;
	margin-bottom: 1rem;
}
.artist__other a {
	display: inline-block;
}
.artist__other div {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
}
.artist__next {
	text-align: right;
}
.artist__rand {
	text-align: center;
}

.lineup__container {
	background-image: radial-gradient(circle at bottom center,hsl(var(--background--bold)) 1px,transparent 0);
	background-clip: content-box;
	background-position: top left;
	background-repeat: repeat;
	background-size: 3px 2rem;
	line-height: 0;
}
.lineup__container::before {
	content: "";
	display: block;
	height: 1px;
	margin-bottom: -2px;
	width: 100%;
}
.lineup__container {
	line-height: 2rem;
}
.lineup__band {
	line-height: inherit;
	vertical-align: bottom;
}
.lineup__arrow {
	color: transparent;
	display: inline-block;
	font-size: 0;
	vertical-align: bottom;
}
.lineup__arrow::before {
	color: hsl(var(--attention--secondary));
	font-size: initial;
	vertical-align: middle;
}
.lineup__container .lineup__session--hovered::before,
.lineup__container .lineup__session--clicked::before{
	background: hsl(var(--attention--secondary));
	color: hsl(var(--background));
}
.lineup__sessions {
	line-height: 1.5;
}
.lineup__sessions session {
	border: none;
	border-radius: 2px;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	margin-left: -2px;
	padding: 1px 2px;
}
.lineup__sessions .any__note {
	padding: 2px;
	vertical-align: text-bottom;
}
.lineup__sessions session a {
	border-color: transparent !important;
	border-style: solid;
	border-width: 4px 0;
}

.lineup__sessions .lineup__session--hovered,
.lineup__sessions .lineup__session--clicked {
	box-shadow: 0 0 0 1px hsl(var(--attention--secondary));
}
.lineup__container session::before {
	background: hsl(var(--background--bold));
	border-radius: 2px;
	content: "※";
	display: inline-block;
	font-size: 0.9rem;
	line-height: 1;
	padding: 0.25rem;
	vertical-align: text-top;
}
.lineup__compact {
	float: right;
	margin: 0 0 0.25rem 0.25rem;
	z-index: 2;
}
.lineup--compact:checked ~ .lineup__wrapper .lineup__compact {
	color: hsl(var(--text));
}
.lineup--compact:checked ~ .lineup__wrapper .lineup__compact::before {
	-moz-clip-path:    url(#symbol__checkbox--checked);
	-webkit-clip-path: url(#symbol__checkbox--checked);
	clip-path:         url(#symbol__checkbox--checked);
	opacity: 1;
}
.lineup--compact:checked ~ .lineup__wrapper .lineup--duplicate {
	display: inline-block;
	max-width: 2ch;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: none;
}
.lineup--compact:checked ~ .lineup__wrapper .any__note {
	display: inline-block;
	max-width: 2ch;
	overflow: hidden;
	white-space: nowrap;
	display: none;
}
.lineup--compact:checked ~ .lineup__wrapper .any__note::before {
	content: "… ";
}
.lineup--compact:checked ~ .lineup__wrapper .lineup__band > .any--en,
.lineup--compact:checked ~ .lineup__wrapper session > .any--en,
.lineup--compact:checked ~ .lineup__wrapper .lineup--duplicate + .lineup--duplicate {
	display: none;
}


.bio__container {
	counter-reset: lineup;
}
.bio__item {
	margin-left: -1rem;
}
.bio__item[data-item-type~="lineup"] {
	counter-increment: lineup;
}
.bio__item[data-item-type~="lineup"] h5::after {
	content: "Lineup #" counter(lineup);
}
.bio__item[data-item-type~="setlist"] h5::after {
	content: "Setlist";
}
.bio__item[data-item-type~="note"] h5::after {
	content: "Note";
}
.bio__item[data-item-type~="lineup"] .bio__content,
.bio__item[data-item-type~="note"] .bio__content,
.bio__item[data-item-type~="setlist"] .bio__content {
	border: 3px solid hsl(var(--background--bold));
	border-radius: 3px;
	padding: 0.5rem;
}
.bio__item[data-item-type~="end"] .bio__content {
	border: 3px solid hsl(var(--accent));
	border-radius: 3px;
	color: hsl(var(--accent)) !important;
	padding: 0.5rem;
}
.bio__item[data-item-type~="start"] .bio__content {
	border: 3px solid hsl(var(--attention--secondary));
	border-radius: 3px;
	color: hsl(var(--attention--secondary)) !important;
	padding: 0.5rem;
}
.bio__item[data-item-type~="end"] p:last-of-type::after {
	content: "...";
}
.bio__item:not([data-item-num="0"]) .h4 {
	color: transparent;
}
.bio__item p {
	line-height: inherit;
}
.bio__date, .bio__content {
	box-sizing: border-box;
	line-height: inherit;
	margin-left: 1rem;
	vertical-align: top;
}
.bio__date {
	white-space: nowrap;
}
.bio__content {
	flex-grow: 1;
	white-space: normal;
}



.member__history {
	flex-wrap: wrap;
	margin-left: -1rem;
	margin-top: -1rem;
}
.lineup__container {
	flex: 1;
	flex-basis: calc(100% - 150px - 2rem);
}
.lineup__container, .lineup__sessions {
	margin-top: 1rem;
	margin-left: 1rem;
}
.lineup__sessions {
	flex-grow: 1;
	flex-basis: 150px;
	min-width: 100%;
}
@media(min-width: 800px) {
	.lineup__sessions {
		min-width: auto;
	}
}
.lineup__session + .lineup__session::before {
	content: ",  ";
}


.artist__nav {
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: -1rem;
	padding: 1rem 0;
	position: -webkit-sticky;
	position: sticky;
	top: 3rem;
	z-index: 3;
}
.artist__nav .li {
	display: block;
}
@media(max-width:799.9px) {
	.artist__nav {
		background-image: linear-gradient(hsl(var(--background--secondary)), hsl(var(--background--secondary)));
		background-position: 0 -1rem;
		background-repeat: no-repeat;
		padding: 0.5rem 0 1rem 0;
		text-align: center;
	}
	.artist__nav::after {
		bottom: 0;
		box-shadow: inset 0 1.5rem 1rem -1rem hsl(var(--background--secondary));
		content: "";
		display: block;
		height: 1rem;
		left: 0;
		position: absolute;
		right: 0;
	}
	.artist__nav .li {
		border: none;
		margin: 0;
		padding: 0;
	}
	.artist__nav [href*='former'], .artist__nav [href*='staff'], .artist__nav [href*='schedule'] {
		display: none;
	}
}
@media(min-width:800px) {
	.artist__nav.artist__nav {
		flex-direction: column;
		margin-right: var(--gutter);
		width: auto;
	}
}
.obscure__input:checked + .obscure__container.a {
	max-height: 8rem;
	overflow:hidden;
}
:target {
	content: "";
	display: block;
	margin-top: -4rem;
	padding-top: 4rem;
	position: relative;
}
tbody:not(:last-of-type) tr:last-of-type td {
	padding-bottom: 1.5rem;
}
td h3 {
	padding-bottom: 0;
}
.h--nav {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding-right: 0;
}
.h--nav::before {
	align-self: bottom;
}
.h--nav :last-child {
	margin-left: auto;
}
.history__nav {
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
}
.history__nav > div {
	margin-bottom: 1rem;
}
.history__nav label {
	display: inline-block;
}
.bio__item {
	display: none;
}
#history__all:checked ~ .history__nav [for="history__all"],
#history__activity:checked ~ .history__nav [for="history__activity"],
#history__release:checked ~ .history__nav [for="history__release"],
#history__member:checked ~ .history__nav [for="history__member"],
#history__live:checked ~ .history__nav [for="history__live"],
#history__other:checked ~ .history__nav [for="history__other"] {
	color: inherit;
}
#history__all:checked ~ .history__nav [for="history__all"]::before,
#history__activity:checked ~ .history__nav [for="history__activity"]::before,
#history__release:checked ~ .history__nav [for="history__release"]::before,
#history__member:checked ~ .history__nav [for="history__member"]::before,
#history__live:checked ~ .history__nav [for="history__live"]::before,
#history__other:checked ~ .history__nav [for="history__other"]::before {
	clip-path: url(#symbol__checked);
}
#history__all:checked ~ .bio__container .bio__item,
#history__activity:checked ~ .bio__container .bio__item[data-item-type*="activity"],
#history__activity:checked ~ .bio__container .bio__item[data-item-type*="start"],
#history__activity:checked ~ .bio__container .bio__item[data-item-type*="end"],
#history__release:checked ~ .bio__container .bio__item[data-item-type*="release"],
#history__live:checked ~ .bio__container .bio__item[data-item-type*="live"],
#history__member:checked ~ .bio__container .bio__item[data-item-type*="member"],
#history__member:checked ~ .bio__container .bio__item[data-item-type*="lineup"],
#history__other:checked ~ .bio__container .bio__item[data-item-type*="cancellation"],
#history__other:checked ~ .bio__container .bio__item[data-item-type*="media"],
#history__other:checked ~ .bio__container .bio__item[data-item-type*="other"],
#history__other:checked ~ .bio__container .bio__item[data-item-type*="label"],
#history__other:checked ~ .bio__container .bio__item[data-item-type*="setlist"],
#history__other:checked ~ .bio__container .bio__item[data-item-type*="trouble"],
#history__other:checked ~ .bio__container .bio__item[data-item-type*="note"] {
	display: flex;
}