.artist__images {
	align-items: stretch;
	flex-wrap: wrap;
	margin: -0.5rem;
	margin-bottom: 0.5rem;
}
.artist__image,
.artist__image--main,
.artist__image--empty {
	align-items: flex-end;
	background-color: hsl(var(--background));
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 3px;
	display: flex;
	flex: 1;
	flex-basis: 120px;
	margin: 0.5rem;
	min-height: 150px;
	overflow: hidden;
	padding: 1rem;
}
.artist__image:nth-of-type(2):hover {
	opacity: 0.75;
}
.artist__image--main {
	flex-basis: 100%;
	padding: 0;
}
.artist__image--main img {
	height: auto;
	max-height: 500px;
	min-height: 100%;
	object-fit: cover;
	vertical-align: middle;
	width: 100%;
}
.artist__image--empty::before {
	color: hsl(var(--text--secondary));
	content: "no image";
	font-family: var(--font--secondary);
	left: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	text-transform: uppercase;
	transform: translateY(-50%);
	width: 100%;
}
.artist__image span {
	color: white;
	font-weight: bold;
	position: static;
	z-index: 1;
}
.artist__image span::before {
	background: linear-gradient(to top, hsla(var(--vkgy-red),1) 0.5rem, hsla(var(--vkgy-red),0.8) 2rem, hsla(var(--vkgy-red),0));
	position:absolute;
	content: "";
	bottom:0;
	left:0;
	right:0;
	top: 0;
	z-index: -1;
}
.artist__image span:hover {
	opacity: 1;
}
.artist__image span:hover::before {
	background: linear-gradient(to top, hsla(var(--attention--secondary),1) 0.5rem, hsla(var(--attention--secondary),0.8) 2rem, hsla(var(--attention--secondary),0));
}

.artist__tags {
	margin-top: 2rem;
}
.artist__tags h3 {
	display: none;
}
.artist__tags ul {
	border: none;
	margin: 0;
	padding: 0;
}