.edit__result {
	margin-bottom: 0;
	margin-top: 1rem;
}
.edit__result:empty {
	display: none;
}
.image__template:nth-of-type(2) {
	margin-top: 1rem;
}
.image__image {
	align-items: center;
	background-clip: content-box;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: space-around;
	min-width: 100px;
	padding-right: 0.5rem;
	text-align: center;
	width: 100px;
}
.image__image img {
	align-self: flex-start;
	max-height: 100px;
	max-width: 100px;
}
.image__data {
	oveflow-x: hidden;
}

.edit__hidden {
	margin-bottom: 3rem;
	max-height: 10rem;
	overflow: hidden;
}
.edit__hidden > * {
	margin-bottom: 0;
}
.edit__hidden::after {
	background: linear-gradient(transparent, var(--background--faint));
	bottom: 0;
	content: "";
	display: block;
	left: -1px;
	pointer-events: none;
	position: absolute;
	right: -1px;
	top: 0;
}
.documentation__wrapper {
	background: var(--background--alt);
	margin-bottom: -3rem;
	padding-top: 3rem;
}
#obscure-bio:checked + .edit__biography {
	margin-bottom: 3rem;
}