.collection__control {
	display: inline-block;
}
.collection__control:hover {
	cursor: pointer;
}
.collection__sell {
	white-space: nowrap;
}
.collection__sell .symbol__unchecked {
	opacity: 0.75;
}
.collection__selling {
	color: hsl(var(--attention--secondary));
}
.collection__container {
	clear: both;
}
#filter-for-sale:checked ~ .collection__container li:not(.collection--for-sale) {
	display: none;
}
.collection__download {
	float: right;
	font-size: 1rem;
	font-weight: normal;
	margin-bottom: 1ch;
	margin-left: 1ch;
	z-index: 1;
}
.collection__download:first-of-type {
	margin-right: -1rem;
}
.collection__control {
	float: right;
	margin: 0 0 1ch 1ch;
}
.collection__control.symbol__filter {
	padding: 0.25rem 0;
}
[type="radio"]:checked + .collection__control::before {
	-moz-clip-path: url(#symbol__checked) !important;
	-webkit-clip-path: url(#symbol__checked) !important;
	clip-path: url(#symbol__checked) !important;
	opacity: 1;
}
[type="radio"]:checked + .collection__control {
	color: hsl(var(--text)) !important;
}
.obscure__input:checked + .user__edit.user__edit {
	max-height: 16rem;
}
.stats__wrapper {
	display: flex;
	flex-wrap: wrap;
}
.stats__title {
	width: 100%;
}

/*.stat__item {
	min-width: 150px;
}
@media(max-width:800px) {
	.stat__item {
		flex-grow: 1;
	}
}
.stat__item {
	filter: grayscale(1);
}
.stat-level__container {
	border: 1px solid currentColor;
	background-image: linear-gradient(currentColor, currentColor);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	border-radius: 3px;
	color: hsl(var(--background--bold));
	height: 0.5rem;
	margin-bottom: 0.5rem;
	margin-top: 1rem;
}*/
/*.stat-level__container[data-level="1"] { background-size: 10% 100%; }
.stat-level__container[data-level="2"] { background-size: 20% 100%; }
.stat-level__container[data-level="3"] { background-size: 30% 100%; }
.stat-level__container[data-level="4"] { background-size: 40% 100%; }
.stat-level__container[data-level="5"] { background-size: 50% 100%; }
.stat-level__container[data-level="6"] { background-size: 60% 100%; }
.stat-level__container[data-level="7"] { background-size: 70% 100%; }
.stat-level__container[data-level="8"] { background-size: 80% 100%; }
.stat-level__container[data-level="9"] { background-size: 90% 100%; }
.stat-level__container[data-level="10"],
.stat-level__container[data-level=""]{ background-size: 100% 100%; }*/
/*.stat-level__container[data-level]::after {
	color: hsl(var(--text--secondary));
	content: "lv." attr(data-level);
	float: right;
	margin-top: -1rem;
}*/
/*.stat-level__container[data-level=""]::after {
	content: "";
}
.stat-level__container .level__deco { display: none; }*/

/*.data__item {
	padding-left:2.5rem;
}
.data__item h5 {
	margin-left: -2rem;
}
[data-emoji]::before {
	bottom: 0;
	content: attr(data-emoji);
	filter: grayscale(0);
	left: 0.5rem;
	position: absolute;
}*/
/*.stat__item:hover {
	filter: grayscale(0);
	transition: filter 0.2s linear;
}
.stat__item:hover .stat-level__container {
	color: hsl(var(--attention));
	transition: color 0.2s linear;
}

.level__container {
	border: 7px solid hsl(var(--background--bold));
	border-radius: 50%;
	box-sizing: border-box;
	height: 50px;
	left: 0.5rem;
	margin-right: 0.5rem;
	position: absolute;
	text-align: center;
	width: 50px;
}
.level__container::after {
	font-size: 1.5rem;
	letter-spacing: initial;
	line-height: 50px;
	position: relative;
	top: -7px;
	z-index: 1;
}

.stat__level {
	border-color: hsl(var(--attention--secondary));
	border-width: 15px;
	height: 100px;
	margin-bottom: 1rem;
	margin-right: 1rem;
	position: relative;
	width: 100px;
}
.stat__level::before {
	content: "level";
	display: block;
	position: relative;
	top: 0.5rem;
	z-index: 1;
}
.stat__level::after {
	color: hsl(var(--attention--secondary));
	font-size: 3rem;
	top: 0;
}
.stat__level .level__deco {
	margin: -17px;
}
.stat__container {
	padding: 0 0.5rem;
	padding-top: 0;
}
@media(min-width: 800px) {
	.stat__container {
		flex: 1;
	}
}*/

/*.level__deco, .level__deco::before, .level__deco::after {
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.level__deco {
	margin: -8px;
	opacity: 0.5;
}
.level__deco::before, .level__deco::after {
	background: hsl(var(--background--secondary));
	width: 50%;
}
.level__deco::before {
	transform-origin: right center;
}
.level__deco::after {
	left: 50%;
	transform-origin: left center;
}
.level__container[data-level="1"]  .level__deco::after { transform: rotate(calc((360deg / 10) * 1)); }
.level__container[data-level="2"]  .level__deco::after { transform: rotate(calc((360deg / 10) * 2)); }
.level__container[data-level="3"]  .level__deco::after { transform: rotate(calc((360deg / 10) * 3)); }
.level__container[data-level="4"]  .level__deco::after { transform: rotate(calc((360deg / 10) * 4)); }
.level__container[data-level="5"]  .level__deco::after { transform: rotate(calc((360deg / 10) * 5)); }
.level__container[data-level="6"]  .level__deco::before { transform: rotate(calc((360deg / 10) * 1)); }
.level__container[data-level="7"]  .level__deco::before { transform: rotate(calc((360deg / 10) * 2)); }
.level__container[data-level="8"]  .level__deco::before { transform: rotate(calc((360deg / 10) * 3)); }
.level__container[data-level="9"]  .level__deco::before { transform: rotate(calc((360deg / 10) * 4)); }

.level__container[data-level="6"] .level__deco,
.level__container[data-level="7"] .level__deco,
.level__container[data-level="8"] .level__deco,
.level__container[data-level="9"] .level__deco {
	clip-path: inset(0 50% 0 0);
}
.level__container[data-level]::after { content: attr(data-level); }
.data--hide-level .level__container {
}*/
.collection__header {
	border-top-color: hsl(var(--text--secondary));
}
.collection__item {
	clear: both;
	padding: 0.5rem 0 0.5rem 1rem;
}
.collection__sell {
	float: right;
	margin: 0 0.5rem 0 auto;
}
.user__badges .badge__description {
	display: none;
}
.user__badges {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
}
.user__badges .badge__container {
	margin-bottom: 1rem;
}
.user__activity {
	align-self: stretch;
}
.activity__wrapper {
	bottom: 0;
	left: 0;
	overflow: hidden;
	right: 0;
	top: 0;
}
@media(min-width: 800px) {
	.activity__wrapper {
		position: absolute;
	}
}
.activity__container {
	height: 100%;
	overflow: hidden;
}