.update__tags {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 0.5rem;
}
.update__tags .any__tag {
	margin: 0;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
}
.update__result {
	margin-bottom: 0;
	margin-top: 1rem;
}
.update__result:empty {
	display: none;
}
.update__image {
	background-color: hsl(var(--background));
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 200px;
	line-height: 200px;
	margin: -1rem;
	margin-bottom: 1rem;
	text-align: center;
}
.update__image[style=""]::before {
	content: "no image";
}
[name=delete][data-id=""] {
	display: none;
}

/* 2020-07-06 */
.entry__error:empty { display: none; }

/* Format preview section */
					.update__preview:not(:empty) {
						margin-top: 1rem;
					}
					/*.update__preview > p:first-of-type {
						color: hsl(var(--text--secondary));
						font-size: 0.8em;
					}
.update__preview > p:first-of-type + * {
	border-top: 1px dotted hsl(var(--background--bold));
	margin-top: 1rem;
	padding-top: 1rem;
}*/
					.update__preview p + p {
						margin-top: 1rem;
					}

/* Choose SNS image */
				.sns__container {
					white-space: nowrap;
				}
				.sns__img {
					height: auto;
					margin-top: 0;
				}
				.sns__thumb {
					height: 50px;
					margin: -0.5rem;
					object-fit: cover;
					width: 50px;
				}