/* Needs to go into normal stylesheet */
@media(min-width:0px) {
.interview__content > .ul--bulleted,
.interview__content > .ul--bulleted li {
	width: 100%;
}
.interview__content > .ul--bulleted li {
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}
.interview__content > .ul--bulleted li::before {
	opacity: 0;
}
.interview__content h2 {
	line-height: 1.6;
	padding: 0 2rem 0 1rem;
	width: calc(600px + 2rem);
}
.interview__content h2::before {
	background: hsl(var(--attention--secondary));
	background-clip: content-box;
	bottom: 0;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	top: 0;
	width: 4px;
}
.interview__content h2 + p {
	margin-top: 1.5rem;
}
}

/* Modify page header */
@media(min-width:0px) {
	.header__wrapper {
		border-width: 0;
		overflow: hidden;
		padding: 0;
	}
	.header__wrapper::after {
		z-index: 0;
	}
	.header__container {
		background-image: var(--header-image) !important;
		background-position: center 40%;
		background-size: calc(var(--gutter) + 100% + var(--gutter)) auto;
		border: inherit;
		border-width: 0 var(--gutter);
		overflow: visible;
		padding: 1rem var(--page-margin) 27% var(--page-margin);
	}
	.header__container::after {
		display: none;
	}
	.header__container::before {
		background: none;
		filter: none;
	}
	.quaternary-nav__container {
		z-index: 1;
	}
	.header__header {
		height: 0;
		opacity: 0;
		width: 0;
	}
}

/* Top: Center styling */
@media(min-width:0px) {
	.interview__header {
		background: transparent;
		border-color: transparent;
		padding-top: 0;
	}
	.interview__header * {
		width: auto !important;
	}
	.entry__title {
		font-size: 2rem;
		line-height: 1;
	}
}
	.entry__subtitle {
		display: block;
		font-family: var(--font--secondary);
		font-size: 0.7em;
		text-transform: uppercase;
	}
.interview__attribution {
	border: 0 dotted hsl(var(--background--bold));
	border-width: 1px 0;
	margin-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}
.interview__editor {
	margin-right: 1ch;
}
@media(min-width:600px) {
	.entry__title {
		font-size: 6rem;
	}
	.entry__subtitle {
		font-size: 0.5em;
	}
	.interview__header p {
		font-size: 1.5rem;
	}
/*.interview__header .text--centered > :first-of-type > li:first-of-type {
	padding-top: 0;
}
.interview__header > .text {
	background: transparent;
	border-color: transparent;
}*/
}

/* Middle: Center styling */
@media(min-width:0px) {
	.interview__content {
		background: transparent;
		border-color: transparent;
	}
	.interview__content > ul:first-of-type > li:first-of-type {
		padding-top: 0;
	}
.interview__content p {
	margin-left: 0 !important;
}
.interview__content h2 {
	margin-left: -1rem;
	padding: 0 0 0 1rem !important;
	width: calc(600px + 1rem) !important;
}
.text--centered .module {
	background: hsl(var(--background));
	vertical-align: middle;
}
.text--centered .module>* {
	width: 100%;
}
.text--centered .module:not(.module--release) {
	padding: 0 !important;
}
.text--centered .module--image img {
	width: 100%;
}
.text--centered > ul > li {
	padding-left: 0;
}
.module--portrait, .module--twitter {
	/*max-width: 100%;
	width: calc(600px + 2rem);*/
}
.module--portrait a::after {
	background: linear-gradient(hsla(var(--background),0), hsla(var(--background),1));
	bottom: 0;
	content: "";
	height: 2rem;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
}
.module--portrait img {
	object-fit: cover;
	object-position: top;
	max-height: 800px;
}
}

/* Sidebar */
@media(min-width:0px) {
	.entry--style-shock .interview__aside {
		display: none;
	}
.interview__aside {
	align-self: stretch;
	background: transparent;
	background: hsl(var(--background--alt));
	border-color: transparent;
}
/*.interview__supplement .module--release:first-of-type {
	margin-top: 0;
}
.interview__supplement .module--release {
	background: none;
	flex-direction: column;
	margin-top: 1rem;
	padding-top: 0;
}
.interview__supplement .module--release > a {
	margin-left: -1rem !important;;
	margin-right: -1rem !important;;
	width: auto !important;
}
.interview__supplement .module--release > a img {
	width: 100%;
}*/
/*@media(min-width:800px) {
	.interview__supplement-container {
		bottom: 1rem;
		box-shadow: 0 0 0 3px blue;
		left: 1rem;
		position: absolute;
		right: 1rem;
		top: 15%;
	}
}*/
.interview__supplement-container {
	height: 100%;
}
.interview__profile {
	position: -webkit-sticky;
	position: sticky;
	top: 4rem;
}
.interview__profile .card {
	margin-bottom: 1rem;
}
.interview__profile p {
	display: inline;
}
.interview__lineup:not(:empty) {
	margin-top: 1rem;
}
	.interview__musician {
		align-items: center;
		display: flex;
		line-height: 1rem;
		white-space: nowrap;
	}
	.interview__musician * {
		vertical-align: middle;
	}
	.interview__musician-name {
		margin: 0 auto 0 5px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	}
	.interview__musician-stat {
		order: 2;
	}
.interview__musician-stat * + * {
	margin-left: 5px;
}
.interview__musician-stat [target="_blank"] {
	font-size: 1.5rem;
}
.interview__urls {
	border-top: 1px dotted hsl(var(--text--secondary));
	margin-top: 1.5rem;
	padding-top: 1.5rem;
}
.interview__urls .a--outlined {
	order: -1;
}
.interview__urls .symbol--standalone {
	font-size: 1.5rem;
	line-height: 0;
	vertical-align: bottom;
}
}

/* Layout */
/* Default spacings for columns */
.interview__left {
	flex: 1;
	margin-right: var(--gutter);
	max-width: none;
	min-width: 0;
	width: auto;
}
.interview__center {
	flex-grow: unset;
	flex-wrap: nowrap;
	margin: 0 !important;
}
.interview__right {
	flex: 1;
	height: 25px;
	margin-left: var(--gutter);
	max-width: none;
	min-width: 200px;
	width: auto;
}
.interview__content {
	flex-basis: 700px;
	flex-grow: 1;
}
/* > 800px: aside has a margin and is to right of content rather than below */
@media(min-width:800px) {
	.interview__aside {
		margin-left: var(--gutter);
	}
}
/* < 1400px: left-hand spacer is hidden */
@media(max-width:1399.99px) {
	.interview__left {
		flex: none;
		margin-right: 0;
		width: 0 !important;
	}
}
/* < 1250px: center content and right-hand content are full-width and stacked */
@media(max-width:1249.99px) {
	.interview__center {
		flex-grow: 1;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.interview__right {
		flex-grow: 1;
		margin-left: 0;
		min-width: 100%;
	}
}
/* > 800px: center content starts to flex */
@media(min-width:800px) {
	.interview__center {
		flex-basis: 950px;
	}
	.interview__aside {
		width: 280px;
	}
}