
	@media(min-width:900px) {
		.entry__wrapper {
			--main-width: minmax(0, 80%);
			--spacer: ;
			display: grid;
			grid-gap: 0 var(--gutter);
			grid-template-columns: var(--spacer) [spacer-end main-start] var(--main-width) [main-end ads-start] minmax(200px, 20%) [ads-end];
		}
	}
	@media(min-width:1300px) {
		.entry__wrapper {
			--spacer: [spacer-start] minmax(200px, 20%);
			--main-width: 60%;
		}
	}
	.entry__article {
		align-items: stretch;
		display: flex;
		flex-wrap: wrap;
		gap: 0 1rem;
		grid-column: main-start / main-end;
		grid-row: 1;
	}
	
	/* Blog sidebar */
	.entry__supplemental {
		background: hsl(var(--background));
		display: flex;
		flex-wrap: wrap;
		gap: 0 1rem;
		grid-column: ads-start / ads-end;
		grid-row: 1;
		padding: 1rem;
	}
	@media(min-width:900px) {
		.entry__supplemental {
			flex-direction: column;
		}
	}
	.entry__supplemental h3 {
		padding-left: 0;
	}
	.entry__supplemental h3::before {
		display: none;
	}
	/* Ads */
	@media(min-width:500px) {
		.entry__ad {
			flex-basis: 200px;
			flex-grow: 1;
			width: 48%;
		}
	}
	@media(min-width:900px) {
		.entry__ad {
			width: 100%;
		}
	}
	.entry__cdjapan {
		--rotation: 0deg;
		background-color: hsl(var(--background--bold));
		position: absolute;
		transform: rotate(var(--rotation));
		width: 60%;
	}
	.entry__cdjapan:nth-of-type(1) {
		--rotation: 12deg;
		right: -5%;
		top: 10%;
	}
	.entry__cdjapan:nth-of-type(2) {
		--rotation: 5deg;
		left: 20%;
		top: 40%;
	}
	.entry__cdjapan:nth-of-type(3) {
		--rotation: -14deg;
		left: -5%;
		top: 15%;
	}
	.entry__related {
		display: flex;
		width: 100%;
	}
	.entry__related a:hover {
		border-color: inherit;
	}
	.related__image {
		background-color: hsl(var(--background--bold));
		background-position: center;
		background-size: cover;
		border-radius: var(--border-radius);
		flex: none;
		height: 50px;
		margin-right: 1rem;
		width: 50px;
	}
	
	.entry__comments {
		grid-column: main-start / -1;
		grid-row: 2;
	}
	
	.article__error,
	.article__image,
	.article__date,
	.article__title,
	.article__details {
		width: 100%;
	}
	.article__date,
	.article__title {
		margin: 0;
		padding: 0 1rem;
	}
	.article__details {
		border: 0 dotted hsl(var(--background--bold));
		border-width: 1px 0;
		line-height: 2rem;
		margin: 2rem 0;
		padding: 1rem 0.5rem;
	}
	.article__content {
		background: none;
		flex: 1;
		max-width: 100%;
		order: 2;
		width: 500px;
	}
	.article__supplemental {
		margin: 3rem -1rem 0 -1rem;
	}
	.article__supplemental details:not([open]) .h2 {
		padding: 0;
	}
	
	.article__sidebar {
		background: hsl(var(--background--alt));
		padding: 1rem;
		width: 100%;
	}
	@media(min-width:700px) {
		.article__sidebar {
			width: 200px;
		}
	}
	@media(min-width:900px) {
		.article__sidebar {
			width: 100%;
		}
	}
	@media(min-width:1000px) {
		.article__sidebar {
			width: 200px;
		}
	}
	.article__sidebar h2 {
		margin-bottom: 1rem;
		padding: 0;
	}
	.article__sidebar h2::before {
		display: none;
	}
	.article__sidebar .card {
		margin: 0 -1rem 1rem -1rem;
	}
	.article__video {
		margin: 1rem -1rem 0 -1rem;
		overflow: hidden;
	}
	.article__video .a--cutout {
		background-color: hsl(var(--background--alt));
	}
	
	/* General fixes */
	
	
	.any--sticky {
		position: sticky;
		top: 4rem;
	}
	.any--crossed-out::before { /* Need to standardize this somewhere--also used in quick search */
		--line-color: hsl(var(--text--secondary));
		--line-width: 1px;
		background-image: linear-gradient( var(--line-color), var(--line-color) ), linear-gradient( var(--line-color), var(--line-color) );
		background-position: center;
		background-repeat: no-repeat;
		background-size: var(--line-width) 100%, 100% var(--line-width);
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transform: rotate(45deg);
	}
	
	.module--spotify iframe {
		width: 100%;
	}
	
	.module--twitter {
		background: none;
	}
	.module--twitter .twitter-tweet:not(.twitter-tweet-rendered) {
		background: hsl(var(--background--bold));
		height: 500px;
	}
	.module--twitter .twitter-tweet:not(.twitter-tweet-rendered)::before {
		/*content: "loading tweet";
		font-family: var(--font--secondary);
		text-transform: uppercase;*/
	}
	.module--twitter .twitter-tweet:not(.twitter-tweet-rendered) a {
		display: none;
	}
	
	.release-card__cover {
		height: 100%;
	}
	
	.card__link:hover ~ .card--subject[data-src],
	.card__link:hover ~ img.card--subject {
		opacity: 0.75;
	}
	
						.callout {
							--gradient-color: var(--brand-color);
							align-items: flex-end;
							background-color: hsl(var(--background--bold));
							background-position: center 30%;
							background-repeat: no-repeat;
							background-size: cover;
							border-radius: var(--border-radius);
							display: inline-flex;
							font-size: 1.25rem;
							font-weight: bold;
							padding-top: 40%;
							width: 100%;
						}
						.callout--height {
							max-height: 500px;
							padding-top: 0;
						}
						.callout__image {
							border-radius: inherit;
							bottom: 0;
							left: 0;
							overflow: hidden;
							pointer-events: none;
							position: absolute;
							right: 0;
							top: -3rem;
						}
						.callout__text {
							border-radius: inherit;
							max-height: 100%;
							padding: 1rem;
							padding-top: 4rem;
							width: 100%;
							z-index: 1;
						}
						.callout__text,
						.callout__text * {
							color: white;
						}
						.callout__text::before {
							--background-top-padding: 0rem;
							--gradient-start-offset: -1rem;
							--gradient-angle: 181deg;
							--gradient-height: 4rem;
							background-image: linear-gradient(
								var(--gradient-angle),
								hsla( var(--gradient-color), calc( 0.95 * 0.000 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.000 ) ),
								hsla( var(--gradient-color), calc( 0.95 * 0.013 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.081 ) ),
								hsla( var(--gradient-color), calc( 0.95 * 0.049 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.155 ) ),
								hsla( var(--gradient-color), calc( 0.95 * 0.104 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.225 ) ),
								hsla( var(--gradient-color), calc( 0.95 * 0.175 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.290 ) ),
								hsla( var(--gradient-color), calc( 0.95 * 0.259 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.353 ) ),
								hsla( var(--gradient-color), calc( 0.95 * 0.352 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.412 ) ),
								hsla( var(--gradient-color), calc( 0.95 * 0.450 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.471 ) ),
								hsla( var(--gradient-color), calc( 0.95 * 0.550 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.529 ) ),
								hsla( var(--gradient-color), calc( 0.95 * 0.648 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.588 ) ),
								hsla( var(--gradient-color), calc( 0.95 * 0.741 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.647 ) ),
								hsla( var(--gradient-color), calc( 0.95 * 0.825 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.710 ) ),
								hsla( var(--gradient-color), calc( 0.95 * 0.896 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.775 ) ),
								hsla( var(--gradient-color), calc( 0.95 * 0.951 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.845 ) ),
								hsla( var(--gradient-color), calc( 0.95 * 0.987 ) ) calc( var(--background-top-padding) - var(--gradient-start-offset) + ( var(--gradient-height) * 0.919 ) )
							);
							background-position: left bottom;
							background-repeat: no-repeat;
							background-size: 100%;
							border-radius: inherit;
							bottom: 0;
							content: "";
							left: 0;
							position: absolute;
							right: 0;
							top: 0;
							z-index: -1;
						}
						.callout:hover {
							--gradient-color: var(--attention--secondary);
						}
						
						
						
						
						.text--prose .module--twitter {
							max-width: calc(var(--prose-padding) + var(--prose-width) + var(--prose-padding));
							background: hsl(var(--background));
							border-radius: var(--border-radius);
							padding: calc(var(--prose-padding));
						}
						.text--prose .module--twitter::before {
							color: hsl(var(--text--secondary));
							font-family: var(--font--secondary);
							font-size: 0.8rem;
							text-transform: uppercase;
							font-weight: bold;
							margin-top:-0.5rem;
						}
						
						.text--prose .module--portrait {
							border-radius: var(--border-radius);
							width: calc( var(--prose-padding) + var(--prose-width) + var(--prose-padding) );
						}
						.text--prose .module--portrait img {
							max-height: 700px;
						}
						
						
						
						
						
						.article__image {
							align-items:center;border-radius:var(--border-radius);display:flex;max-height:50vh;overflow:hidden;background-size:cover;background-position:center;background-color:hsl(var(--background));
						}
						.article__image--portrait {
							max-height: 70vh;
						}
						.article__image img {
							height:auto;width:100%;
						}
						
						.article__avatar {
							background: hsl(var(--background));
							border-radius: 50%;
							display: inline-block;
							height: 2rem;
							width: 2rem;
							vertical-align: middle;
						}
						.article__avatar img {
							height: 110%;
							left: 50%;
							position: absolute;
							top: 50%;
							transform: translate(-50%, -55%);
							width: 110%;
						}
						
						
						.article__sidebar h2::before {
							display: none;
						}
						