.interview__wrapper {
	align-items: end;
	display: grid;
	grid-gap: var(--gutter);
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}
@media(max-width: 999.99px) {
	.interview__wrapper {
		grid-template-columns: minmax(0, 1fr);
	}
	.interview__link span {
		display: none;
	}
	.interview__content {
		padding: 0;
	}
}
.interview__top {
	align-items: flex-end;
	margin-bottom: 1rem;
}
.interview__title {
	line-height: 2rem;
	margin-bottom: 0;
	margin-right: auto;
	max-width: 100%;
	overflow: hidden;
	padding-right: 1rem;
	white-space: nowrap;
}
.interview__title::after {
	background-image: linear-gradient(to left, hsla(var(--background--secondary), 1), hsla(var(--background--secondary), 0));
	bottom: 0;
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 1rem;
}
.interview__link {
	line-height: 1rem;
	margin-left: 0.5rem;
	white-space: nowrap;
}
.interview__image-link, .interview__image {
	display: block;
	width: 100%;
}
@media(min-width: 1000px) {
	.interview__content {
		margin-bottom: 0;
	}
}