.upcoming__date, .upcoming__artist {
	white-space: nowrap;
}

.search__note {
	margin-top: 1rem;
}
select[name][name][name] + .selectize-control .item + .item::before {
	color: hsl(var(--text--secondary));
	content: ", ";
}
.input.input.input.input.selectize-control * {
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	height: auto;
	font-family: inherit;
	font-size: 1rem;
	line-height: 1;
	margin: 0;
	padding: 0;
}
.input.input.input.input .selectize-input {
	border-radius: 3px;
	margin-left: -0.5rem;
	margin-top: -0.5rem;
	padding: 0.5rem;
	width: calc(0.5rem + 100% + 0.5rem);
}
.input.input.input.input .selectize-input input {
	height: 1rem;
}
.input.input.input.input .selectize-input {
	background-image: linear-gradient(to right, hsl(var(--interactive--secondary)) 50%, transparent 0);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 201% 2px;
	transition: background-position 0.1s ease-in-out;
}
.input.input.input.input .selectize-input.focus {
	background-position: bottom left;
}
.input.input.input.input .selectize-input.dropdown-active::before {
	display: none;
}
.input.input.input.input .selectize-dropdown {
	background: hsl(var(--background--bold));
	border-radius: 0 0 3px 3px;
	box-shadow:
		inset 0 -2px 0 0 hsl(var(--interactive--secondary)),
		inset -2px 0 0 0 hsl(var(--interactive--secondary)),
		inset 2px 0 0 0 hsl(var(--interactive--secondary));
	box-sizing: content-box;
	margin-left: -0.5rem;
	padding: 0.5rem;
	width: 100%;
}
.input.input.input.input .selectize-dropdown-content .option {
	border-radius: 3px;
	padding: 0.5rem;
}
.input.input.input.input .highlight {
	background: hsl(var(--attention--secondary));
}
.input.input.input.input .option.active {
	box-shadow: inset 0 0 0 2px rgba(255,255,255, 0.1);
}
.input.input.input.input .has-items:not(.input-active) {
	white-space: nowrap;
}
.input.input.input.input .selectize-control.multi .item {
	margin-right: 0.5rem;
}
.calendar__container {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 1rem 1rem;
}
.calendar__controls * {
	display: inline-block;
}
.calendar__header, .calendar__item {
	margin: 1rem 1rem 0 0;
}
.calendar__header {
	padding-bottom: 0;
	width: 100%;
}
.calendar__header + .calendar__header,
.calendar__item + .calendar__header:not(:last-of-type) {
	margin-top: 3rem;
}
.calendar__item {
	background-position: center;
	background-size: cover;
	flex-basis: 300px;
	flex-grow: 1;
	max-width: 100%;
}
.calendar__item::after {
	content: "";
	display: block;
	flex: none;
	margin-right: 0.5rem;
	order: -1;
	width: 100px;
}
.calendar__content > * {
	display: block;
}
.calendar__artist, .calendar__title {
	line-height: 1;
	margin-top: 1rem;
}
.calendar__date {
	white-space: nowrap;
}
.calendar__buy {
	margin-top: 1rem;
	text-transform: uppercase;
	white-space: nowrap;
}
.calendar__cover {
	left: 0.5rem;
	position: absolute;
}
.calendar__cover img {
	max-height: 100px;
	max-width: 100px;
}
[data-src]:not(.loaded) {
	/*opacity: 0;*/
}

/* Show controls as active when checked */
[id="order-by--date-asc"]:checked ~ .calendar__controls [for="order-by--date-asc"],
[id="order-by--date-desc"]:checked ~ .calendar__controls [for="order-by--date-desc"],
[id="order-by--name"]:checked ~ .calendar__controls [for="order-by--name"],
[id="filter--all"]:checked ~ .calendar__controls [for="filter--all"],
[id="filter--cd"]:checked ~ .calendar__controls [for="filter--cd"],
[id="filter--dvd"]:checked ~ .calendar__controls [for="filter--dvd"],
[id="filter--other"]:checked ~ .calendar__controls [for="filter--other"] {
	color: hsl(var(--text));
}

/* Set order and filter styles */
[id="order-by--date-desc"]:checked ~ .calendar__container {
	flex-flow: row-reverse wrap-reverse;
}
[id^="order-by--date-asc"]:checked ~ .calendar__container .calendar__header--reverse,
[id^="order-by--date-desc"]:checked ~ .calendar__container .calendar__header:not(.calendar__header--reverse) {
	display: none;
}
[id^="order-by--date"]:checked ~ .calendar__container .calendar__item {
	order: unset !important;
}
[id^="order-by--name"]:checked ~ .calendar__container .calendar__header {
	display: none;
}
[id^="filter--cd"]:checked ~ .calendar__container .calendar__item:not([data-medium*="cd"]),
[id^="filter--dvd"]:checked ~ .calendar__container .calendar__item:not([data-medium*="dvd"]),
[id^="filter--other"]:checked ~ .calendar__container .calendar__item:not([data-medium*="other"]) {
	display: none;
}