.track:not(.track--show-disc)         .track__disc,
.track:not(.track--show-section)      .track__section,
.track:not(.track--show-song)         .track__song-container,
.track:not(.track--show-controls)     .track__tracklist-controls,
.track:not(.track--show-artist)       .track__artist,
.track:not(.track--show-display-name) .track__display-name {
	display: none;
}
.track, .track .input__row, .track .input__group {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}
.track {
	padding-left: 2rem;
	padding-right: 2rem;
}
.track .input__row {
	margin-left: -0.5rem;
	margin-top: -0.5rem;
}
.track .input__group {
	margin-top: 0.5rem;
}
.track + .track::before {
	content: "";
	display: block;
	height: 1rem;
	opacity: 0.75;
	width: 100%;
}
.track--show-disc + .track--show-song::before,
.track--show-disc + .track--show-section::before,
.track--show-section + .track--show-song::before,
.track--show-song + .track--show-controls::before,
.track--show-controls + .track--show-section::before {
	background-clip: content-box;
	background-image: radial-gradient(circle at center center, hsl(var(--background--bold)) 1px, transparent 0);
	background-position: left center;
	background-repeat: repeat-x;
	background-size: 3px 3px;
	height: 2rem;
}
.track--show-controls + .track--show-disc::before {
	background-clip: border-box;
	background-image: radial-gradient(circle at center center, hsl(var(--text)) 1px, transparent 0);
	background-position: left center;
	background-repeat: repeat-x;
	background-size: 3px 3px;
	height: 6rem;
	margin-left: -2rem;
	width: calc(2rem + 100% + 2rem);
}
.track::first-of-type {
	counter-reset: disc_count;
}
.track--show-disc {
	counter-increment: disc_count;
}
.track__disc-label::after {
	content: "#" counter(disc_count);
}


.track--show-disc,
.track--show-controls,
.track--show-song:first-of-type {
	counter-reset: tracks;
}
.track--show-song {
	counter-increment: tracks;
}

.track__num::before {
	box-sizing: border-box;
	color: hsl(var(--text--secondary));
	content: counter(tracks) ".";
	display: inline-block;
	height: 2rem;
	left: -2rem;
	padding-right: 0.5rem;
	position: absolute;
	text-align: right;
	top: -2rem;
	width: 2rem;
}
.track__artist {
	max-width: 25vw;
	min-width: 150px;
	width: 25vw;
}
.track__ghost {
	opacity: 0.5;
}
.track__ghost .track__num {
	visibility: hidden;
}
.add__stealth, .add__edit {
	margin-left: 0.5rem;
}
.add__edit-container {
	margin-top: 1rem;
	text-align: center;
}
.add__result {
	margin-bottom: 0;
	margin-top: 1rem;
}
.add__result:empty {
	display: none;
}
.add__cover-link {
	justify-content: space-around;
	display: block;
	height: 3rem;
}
.add__cover {
	height: 100%;
}
.add__cover[src=""] {
	display: none;
}

	@media(max-width:599.99px) {
		.track__num {
			width: 100%;
		}
		.track__num::before {
			bottom: auto;
			top: 0;
		}
		.track__song .input, .track__disc .input, .track__section .input {
			height 2rem;
			min-height: 2rem;
			line-height: 2rem;
			margin-bottom: 0.5rem;
			padding-bottom: 0;
			padding-top: 0;
			border-radius: 3px 3px 0 0 !important;
			width: 100%;
		}
		.track__song .input--secondary, .track__disc .input--secondary, .track__section .input--secondary {
			border-radius: 0 0 3px 3px !important;
			width: 100%;
		}
		.track__song, .track__disc, .track__section {
			flex-direction: column;
		}
		.track__disc, .track__disc .input__group {
			flex-direction: column;
			flex-wrap: wrap;
		}
		.track__artist {
			flex-grow: 1;
			margin-bottom: 1rem;
			width: 100%;
		}
		.track {
		}
		.add__tracklist {
			padding-left: 0;
			padding-right: 0;
		}
	}


				.input__select-placeholder {
					background: hsl(var(--background--bold));
					background-clip: content-box;
					color: transparent;
					left: 0.5rem;
					line-height: 1.5rem;
					padding: 0.25rem 0 0.25rem 0.5rem;
					pointer-events: none;
					position: absolute;
					right: 0;
				}
				.input__select-placeholder::after {
					border: 5px solid transparent;
					border-top-color: hsl(var(--text--secondary));
					content: "";
					display: block;
					height: 0;
					margin-top: -3px;
					pointer-events: none;
					position: absolute;
					right: 0.5rem;
					top: 50%;
					width: 0;
				}
				select[multiple] + .input__select-placeholder,
				select[data-populate-on-click="true"] + .input__select-placeholder {
					color: hsl(var(--text--secondary));
				}
				.selectize-control.input.single + .input__select-placeholder::after {
					border-color: transparent;
				}