.release__prev-next {
	margin-bottom: 3rem;
	max-width: calc(50% - 0.5rem);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(50% - 0.5rem);
}
.release__prev-next:nth-of-type(2) {
	text-align: right;
}
.release__data {
	padding-left: 1rem;
	text-align: right;
	white-space: nowrap;
}


.credits__title-container {
	text-align: right;
}
.credits__title {
	box-sizing: content-box;
	display: inline-block;
	max-width: calc(50vw - 2rem - 2px);
}
.credits__credit {
	width: 100%;
}
.release__data {
	order: 2;
}
.marketing__row {
	flex-direction: column;
}
.marketing__cell {
	text-align: center;
}
@media(max-width: 799.99px) {
	.marketing__cell {
		padding-left: 0;
		padding-right: 0;
	}
	.marketing__cell + .marketing__cell {
		padding-top: 0.5rem;
	}
	.release__tracklist-container {
		flex-direction: column;
	}
	.release__data {
		border-bottom: 1px dotted hsl(var(--text--secondary));
		display: flex;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 1rem;
		order: 0;
		padding-bottom: 1rem;
		padding-left: 0;
	}
	.release__data ul {
		border: none;
		display: inline-block;
		margin-top: 0;
		padding-top: 0;
	}
}
@media(min-width: 800px) {
	.marketing__row {
		flex-direction: row;
	}
	.marketing__cell {
		flex: 1;
	}
}

.rate__item::before {
	opacity: 1;
}

.data__item {
	border-left: 1px dotted hsl(var(--background--bold));
	margin-right: 0.5rem;
}



.release__head {
	flex-direction: column;
}
.release__image-link {
	margin-top: 1rem;
	order: 2;
}
.release__image-link, .release__image-link img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 500px;
	max-width: 100%;
}


@media(min-width: 800px) {
	.release__head {
		flex-direction: row;
	}
	.release__image-link {
		margin-right: 1rem;
		margin-top: 0;
		order: 1;
	}
	.release__image-link + * {
		order: 2;
	}
	.release__image-link, .release__image-link img {
		max-width: 300px;
	}
}

.collect__result {
	margin-bottom: 0;
	margin-top: 1rem;
}
.collect__result:empty {
	display: none;
}

.release__images {
	overflow-x: auto;
	padding-bottom: 0;
	white-space: nowrap;
}
.release__images a {
	display: inline-block;
	margin-bottom: 1rem;
}
.release__thumbnail {
	height: 100px;
	max-width: 200px;
	min-width: 50px;
	vertical-align: middle;
	width: auto;
}