.release__data {
	margin-left: 1rem;
	text-transform: uppercase;
	white-space: nowrap;
	width: 100px;
}
.release__data > * {
	display: block;
	text-align: center;
	width: 100%;
}

.collect__container {
	margin-bottom: 0.5rem;
}
.collect__item {
	align-items: center;
}

.rate__container {
	margin-top: 0.5rem;
	padding-left: 0rem;
	padding-right: 0rem;
}
.rate__container li {
	border: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.release__control-container {
	justify-content: space-between;
}
.release__control {
	display: inline-block;
}
.release__pseudonym {
	margin-bottom: 1rem;
}
.release__tracklist {
	align-self: flex-start;
}

#cd:checked ~ .release__container:not([data-medium*="cd"]) { display: none; }
#dvd:checked ~ .release__container:not([data-medium*="dvd"]):not([data-medium*="vhs"]):not([data-medium*="blu-ray"]) { display: none; }
#other:checked ~ .release__container[data-medium*="cd"], #other:checked ~ .release__container[data-medium*="dvd"] { display: none; }

.release__image-link {
	margin-bottom: 1rem;
}
.release__image-link, .release__image {
	display: block;
	width: 100px;
}

/* Sidebar */
.rate__container li {
	padding: 0;
}
.rate__item {
	font-size: 1rem;
	line-height: 1;
}
[data-list-id] {
	width: calc(100% - 1rem);
}
.release__lists {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	text-transform: none;
}

/* Hide 'for sale' option if release isn't marked 'owned' */
[id^="release-owned"]:not(:checked) ~ [for^="release-sold"] {
	display: none;
}