.release__tracklist {
	text-align: left;
}
.release__track-name {
	width: 100%;
}
.release__track-name * {
	vertical-align: inherit;
}
.release__track-num {
	white-space: nowrap;
}
.release__disc {
	padding-bottom: 1rem;
}
.release__section {
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.release__data {
	margin-left: 1rem;
	text-transform: uppercase;
	white-space: nowrap;
	width: 100px;
}
.release__data > * {
	display: block;
	text-align: center;
	width: 100%;
}
.release__data > * + * {
}

.collect__container {
	margin-bottom: 0.5rem;
}
.collect__item {
	align-items: center;
}

.rate__container {
	margin-top: 0.5rem;
	padding-left: 0rem;
	padding-right: 0rem;
}
.rate__container li {
	border: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.release__control-container {
	justify-content: space-between;
}
.release__control {
	display: inline-block;
}

#cd:checked ~ .release__container:not([data-medium*="cd"]) { display: none; }
#dvd:checked ~ .release__container:not([data-medium*="dvd"]):not([data-medium*="vhs"]):not([data-medium*="blu-ray"]) { display: none; }
#other:checked ~ .release__container[data-medium*="cd"], #other:checked ~ .release__container[data-medium*="dvd"] { display: none; }

.release__image-link {
	margin-bottom: 1rem;
}
.release__image-link, .release__image {
	display: block;
	width: 100px;
}


@media(max-width: 799.9px) {
	.track__name {
		padding-top: 0;
	}
	.track__num, .track__artist {
		display: block;
		padding: 0;
		padding-top: 0.5rem;
		width: auto;
	}
	.track__artist:empty {
		padding: 0;
	}
	.track__name {
		display: block;
		padding: 0;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}
@media(min-width: 800px) {
	.track__num, .track__artist, .track__name {
		display: table-cell;
	}
	.track__artist:empty {
		max-width: 0;
		min-width: 0;
		padding-left: 0;
		padding-right: 0;
		width: 0;
	}
	.track__artist:not(:empty) {
		max-width: 150px;
		min-width: 150px;
		width: 150px;
	}
	.track__artist-romaji {
		display: block;
	}
	.track__artist-romaji::before, .track__artist-romaji::after {
		content: none;
		display: none;
	}
}